body {
    /* font-family: 'Acronym-Bold'; */
}
.text-gray {
    color: #AEAEAE;
}

.text-dark-gray {
    color: #1F1F1F;
}

.text-red {
    color: #F53434;
}

.text-green {
    color: #41CC61;
}

.text-blue {
    color: #10357A;
}

.text-light-black {
    color: #828282;
}

.text-light-blue {
    color: #D0E7FF;
}

.text-dark-black {
    color: #303030;
}

.text-paste {
    color: #05B3B4;
}

.bg-blue {
    background: #10357A;
}

.text-sky {
    color: #488AC9;
}

.text-dark-sky {
    color: #276CA8;
}

.text-dark-black {
    color: #626262;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-19 {
    font-size: 19px;
}

.br-9 {
    border-radius: 9px;
}

.br-17 {
    border-radius: 17px;
}

.br-40 {
    border-radius: 40px;
}

.p-7 {
    padding: 65px;
}

.ps-12 {
    padding: 10px 13px !important;
}

.mt-9 {
    margin-top: 100px;
}

.mt-10 {
    margin-top: 120px;
}

.mt-12 {
    margin-top: 150px !important;
}

.mt-13 {
    margin-top: 190px !important;
}

.fw-400 {
    font-weight: 400;
}

.custom-arial-font {
    font: normal normal normal 19px/25px Arial;
}

.content-width {
    max-width: 1100px;
    margin: 0 auto;
}

/* Border Section */
.border-section {
    height: 3px;
    background: transparent linear-gradient(90deg, #D00E2E 0%, #800650 26%, #30AED5 64%, #63BA7F 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}


/* Banner Section */
.banner-section {
    background: #FAFCFF;
}

.banner-left {
    background-image: url('../img/banner.png');
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    min-height: 500px;
}

.cart-button {
    background: #1AB954 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 13px;
}

/* Content Section 1 */
.content-section-1-border {
    border: 2px solid #EAEAEA;
    border-radius: 20px;
}

.content-1-title-text {
    color: #05B3B4;
}

.content-1-large-title-text {
    font-size: 33px;
    line-height: 45px;
}

/* Content Section 2 */
.content-section-2 {
    background: #488AC9;
}

.content-section-2-left-box {
    width: 90%;
    margin: 0 auto;
}

.content-section-2 .box-content {
    border:3px solid #fff;
} 

.mesurement-img-class {
    position: absolute;
    bottom: -70px;
    right: 0px;
    width: 250px;
}

.mesurement-scale-class {
    position: absolute;
    bottom: -100px;
    left: 85px;
    width: 200px;
}

.mesurement-scale-mobile-class {
    position: absolute;
    left: 10px;
    width: 200px;
    top: -150px;
}

.mesurement-img-mobile-class {
    position: absolute;
    bottom: -70px;
    right: 0px;
    width: 250px;
}

.fatbody-img-class {
    width: 85% !important;
    height: 90% !important;
    border-radius: 30px;
}

.stomach-img-class {
    position: absolute;
    right: 0px;
    top: -125px;
    width: 180px;
}

.content-section-4 {
    background: #F5FAFF;
}

.content-section-6 {
    background: #488AC9;
}

.content-section-6-inner-bg{
    background: #3E75AA;
}

.nextgen-body-cleanse-img-class {
    position: absolute;
    left: 200px;
    z-index: 1;
    top: -260px;
    width: 400px;
}

.sleep-img-class {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    width: 400px;
    top: -200px;
}

.business-man-img-class {
    width: 300px;
}

.content-section-9-nextgen-img-class {
    position: absolute;
    left: 205px;
    width: 300px;
    top: 80px;
}

.sleeping-man-img-class {
    width: 300px;
}

.reduces-bloating-img-class {
    position: absolute;
    left: 250px;
    width: 240px;
    top: -50px;
}

.content-section-10 {
    background-color: #6B98C5;
}

.content-section-11 {
    background-color: #FAFAFA;
}

.content-section-12 {
    background-color: #FEFEFE;
}

.cascara-tree-img-class {
    position: absolute;
    right: 20px;
}

.letter-spacing-negative {
    letter-spacing: -1.5px;
}

.content-section-13 {
    background-color: #FBFDFF;
}

.klipartz-img-class {
    position: absolute;
    right: 10px;
}

/* Content Section 14 */
.content-section-14 {
    background-color: #FAFCFF;
}


/* Responsive Design Start */

@media only screen and (max-width: 399px) {
    /* Banner Section */
    .banner-left {
        min-height: 380px !important;
    }

    /* Content Section 1 */
    .content-section-1-border {
        border: none !important;
        border-radius: 0px !important;
    }

    /* Content Section 2 */
    .content-section-2-left-box {
        width: 100%;
        margin: 0 auto;
    }

    .vegan-img-class {
        width: 100px;
    }

    .glutten-img-class {
        width: 100px;
    }

    .potent-img-class {
        width: 100px;
    }

    .content-section-2-left-box h5 {
        font-size: 14px;
    }

    .content-section-2 .p-7 {
        padding: 15px;
    }

    .content-section-2 .pt-md-7 {
        padding-top: 0px !important;
    }

    .position-md-size-absolute {
        position: absolute;
        top: -100px;
    }

    .positive-thinking-mobile-div {
        text-align: center;
    }

    /* Content Section 4 */
    .table-circle-img {
        width: 250px;
    }

    
    /* Content Section 6 */
    .nextgen-body-cleanse-img-class {
        position: absolute;
        left: 120px;
        z-index: 1;
        top: -140px;
        width: 200px;
    }

    .sleep-img-class {
        width: 250px;
        top: -140px;
    }

    .content-section-6 .mt-12 {
        margin-top: 80px !important;
    }

    /* Content Section 8 */
    .healthy-gut-img-class {
        width: 250px;
    }


    /* Content Section 9 */
    .business-man-img-class {
        width: 200px;
    }
    
    .content-section-9-nextgen-img-class {
        position: absolute;
        left: 90px;
        width: 200px;
        top: 80px;
    }
    
    .sleeping-man-img-class {
        width: 200px;
    }
    
    .reduces-bloating-img-class {
        position: absolute;
        left: 100px;
        width: 180px;
        top: -30px;
    }

    /* Content Section 14 */
    .bentonite-img-class {
        width: 250px;
    }

    /* Content Section 15 */
    .fennel-seed-img-class {
        width: 250px;
    }

}

@media only screen and (min-width: 400px) and (max-width: 499px)  {
    /* Banner Section */
    .banner-left {
        min-height: 420px !important;
    }

    /* Content Section 1 */
    .content-section-1-border {
        border: none !important;
        border-radius: 0px !important;
    }

    /* Content Section 2 */
    .content-section-2-left-box {
        width: 100%;
        margin: 0 auto;
    }

    .content-section-2 .p-7 {
        padding: 15px;
    }

    .content-section-2 .pt-md-7 {
        padding-top: 0px !important;
    }

    .position-md-size-absolute {
        position: absolute;
        top: -100px;
    }

    .positive-thinking-mobile-div {
        text-align: center;
    }


    /* Content Section 4 */
    .table-circle-img {
        width: 280px;
    }

    /* Content Section 6 */
    .nextgen-body-cleanse-img-class {
        position: absolute;
        left: 50px;
        z-index: 1;
        top: -150px;
        width: 200px;
    }

    .sleep-img-class {
        width: 250px;
        top: -130px;
    }

    

    /* Content Section 9 */
    .business-man-img-class {
        width: 200px;
    }
    
    .content-section-9-nextgen-img-class {
        position: absolute;
        left: 90px;
        width: 200px;
        top: 80px;
    }
    
    .sleeping-man-img-class {
        width: 200px;
    }
    
    .reduces-bloating-img-class {
        position: absolute;
        left: 100px;
        width: 180px;
        top: -30px;
    }

    /* Content Section 14 */
    .bentonite-img-class {
        width: 280px;
    }

    /* Content Section 15 */
    .fennel-seed-img-class {
        width: 280px;
    }

}

@media only screen and (min-width: 500px) and (max-width: 767px)  {
    /* Banner Section */
    .banner-left {
        min-height: 550px !important;
    }

    /* Content Section 1 */
    .content-section-1-border {
        border: none !important;
        border-radius: 0px !important;
    }

    /* Content Section 2 */
    .content-section-2-left-box {
        width: 100%;
        margin: 0 auto;
    }

    .content-section-2 .p-7 {
        padding: 15px;
    }

    .content-section-2 .pt-md-7 {
        padding-top: 0px !important;
    }

    .position-md-size-absolute {
        position: absolute;
        top: -100px;
    }

    .positive-thinking-mobile-class {
        width: 320px;
    }

    .mesurement-scale-mobile-class {
        position: absolute;
        left: 200px;
        width: 250px;
        top: -150px;
    }

    .positive-thinking-mobile-div {
        text-align: center;
    }

    /* Content Section 6 */
    .nextgen-body-cleanse-img-class {
        position: absolute;
        left: 220px;
        z-index: 1;
        top: -120px;
        width: 200px;
    }

    .sleep-img-class {
        width: 250px;
        top: -120px;
    }

    /* Content Section 9 */
    .business-man-img-class {
        width: 200px;
    }
    
    .content-section-9-nextgen-img-class {
        position: absolute;
        left: 200px;
        width: 200px;
        top: 50px;
    }
    
    .sleeping-man-img-class {
        width: 200px;
    }
    
    .reduces-bloating-img-class {
        position: absolute;
        left: 220px;
        width: 180px;
        top: -30px;
    }

    /* Content Section 14 */
    .bentonite-img-class {
        width: 320px;
    }

    /* Content Section 15 */
    .fennel-seed-img-class {
        width: 320px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 999px)  {
    /* Banner Section */
    .banner-left {
        min-height: 100% !important;
    }

    /* Content Section 2 */
    .content-section-2-left-box {
        width: 100%;
        margin: 0 auto;
    }

    .content-section-2 .p-7 {
        padding: 15px;
    }

    .content-section-2 .pt-md-7 {
        padding-top: 65px !important;
    }

    /* Content Section 9 */
    .business-man-img-class {
        width: 200px;
    }
    
    .content-section-9-nextgen-img-class {
        position: absolute;
        left: 150px;
        width: 200px;
        top: 50px;
    }
    
    .sleeping-man-img-class {
        width: 200px;
    }
    
    .reduces-bloating-img-class {
        position: absolute;
        left: 200px;
        width: 180px;
        top: -30px;
    }

    /* Content Section 13 */
    .content-section-13 .mt-13 {
        margin-top: 0px !important;
    }

    /* Content Section 14 */
    .bentonite-img-class {
        width: 350px;
    }

    /* Content Section 15 */
    .fennel-seed-img-class {
        width: 350px;
    }
}

@media only screen and (min-width: 1100px) {
    .content-section-13 .mt-13 {
        margin-top: 0px !important;
    }

}